{{#each response.payload}}
<p>ID: {{_id}}</p>
<p>Nombre: {{title}}</p>
<p>Descripción: {{description}}</p>
<p>Código: {{code}}</p>
<p>Precio: {{price}}</p>
<p>Status: {{status}}</p>
<p>Stock: {{stock}}</p>
<p>Categoría: {{category}}</p>
<br>
<br>
{{/each}}